* {
    font-size: 18px;
}

body {
    overflow-x: hidden;

}

.navbar {
    padding: 0;
    height: 6vh;
    z-index: 2;
}

div#navbarToggler {
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
}

.nav-item {
    height: 100%;
    padding: 0 10px;
}

.nav-link {
    border-bottom: 2px solid transparent;
}

.nav-link:hover {
    border-bottom: 2px solid limegreen;
}

button.btn {
    background-image: linear-gradient(to bottom right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border: none;
    border-radius: 16px;
    color: #fff;
}

button.btn:hover {
    color: #fff;
}

main#header { 
    height: 65vh;
    position: relative;
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-bg {
    position: absolute;
    left: 42%;
    bottom: -18%;
    z-index: -2;
}

.img-main {
    position: absolute;
    top: -18%;
    left: 74%;
    z-index: 1;

}

section {
    height: 25%;
    padding: 5%;
}

section#why {
    z-index: 0;
    background-color: hsl(220, 16%, 96%);
}

section#why h2, p {
    padding-bottom: 15px;
    width: 50%;
}

section#why img {
    margin: 40px 0;
}

section#why h4 {
    margin-bottom: 30px;
}

section#why h4 + p {
    width: 100%;
}

section#articles h2 {
    padding-bottom: 25px;
    width: 50%;
}

small {
    font-size: 12px;
}

.card-img-top {
    height: 30vh;
}

footer {
    background-color: hsl(233, 26%, 24%);
}

footer div.col-6 {
    padding: 20px;
    height: 15vh;
}
#socials {
    width: 25%;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.copyright p.text-light {
    width: 100%;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

#about {
    background-color: hsl(220, 16%, 96%);
    border-radius: 5px;
    box-shadow: 2px 2px 5px #555;
}

#agree {
    display: inline;
}

.error {
    height: 80vh;
}

@media (max-width: 975px) {
    .navbar-collapse {
        background-color: #fff;
        border-radius: 5px;
        margin-top: 5px;
        text-align: center;
    }
    .navbar-collapse button {
        display: none;
    }
}

@media (max-width: 560px) {
    main#header {
        height: 100%;
        margin: 30px 0;
    }
    .content {
        width: 100%;
    }
    section#why h2, p {
        width: 100%;
    }
    .card-img-top {
        height: 15vh;
    }
}
